.App {
  text-align: center;
  background-color: #1F1F1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  max-width: 100%;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 4rem 0; 
}

main {
  margin: 2rem;
}

.large-text {
  opacity: 0;
  color: #D4AF37;
  text-align: center;
  font-family: Montserrat;
  font-size: 5rem; 
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
  transition: opacity 0.9s ease-in-out;
}

.large-text.show {
  opacity: 1;
}

@media (max-width: 768px) {
  .App-header {
    padding: 2rem; 
  }

  .large-text {
    font-size: 3rem; 
  }
}
